<button class="bigButtons" routerLink="/">Back</button>
<div class="formBlock">
  <div class="formContainer">
    <h2>Register Form</h2>
    <form id="registerForm" >
      <label for="loginNew">Login:</label>
      <input type="text" id="loginNew" name="login" required>
      <br/>
      <label for="passwordNew">Password:</label>
      <input type="password" id="passwordNew" name="password" required>
      <br/>
      <button class="bigButtons" type="submit">Submit</button>
    </form>
  </div>
</div>
