<div class="header">
  <div>
    <h2>Lab №3</h2>
    <br/>
    Ovchinnikov Ilya | Alexandr Babushkin, P3221
    <br/>
    Var №2166
  </div>
</div>
<br/>
<div class="mainStruct">
  <h1 id="clock">00:00:00</h1>
  <div class="buttonBlock">
    <button class="bigButtons" (click)="formActivation('login')">Login</button>
    <button class="bigButtons" (click)="formActivation('register')">Register</button>
  </div>
  <div class="formBlock">
    <div class="formContainer" [ngClass]="{'show': activeForm === 'login'}">
      <h2>Login Form</h2>
      <form id="loginForm" >
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br/>
        <button class="bigButtons" type="submit">Submit</button>
      </form>
    </div>

    <div class="formContainer" [ngClass]="{'show': activeForm === 'register'}">
      <h2>Register Form</h2>
      <form id="registerForm" >
        <label for="loginNew">Login:</label>
        <input type="text" id="loginNew" name="login" required>
        <br/>
        <label for="passwordNew">Password:</label>
        <input type="password" id="passwordNew" name="password" required>
        <br/>
        <button class="bigButtons" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
